<div class="header">
    <span id="main" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

    <!-- <div class="header-right">
      <a href="#" style=" font-size: 25px;"><span class="glyphicon glyphicon-log-out"></span> Logout</a>

  </div> -->


</div>

<div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>

    <a routerLink="/invard" (click)="closeNav()">Invard</a>

    <a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a>


</div>